html
  head
    title='Yello humans \\//'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 yello humans, from Cylon planet!!!
        p Click the button below to go to my github...
        p 
          a.btn.btn-primary(href="https://www.github.com/gunjan5") gunjan5
        p